:root {

  /* ======================BRAND COLORS============================== */

  --primary-color: #7f00ff;
  --primary-color-hover: #5d00c7;
  --secondary-color: #ff7a00;

  /* =======================TEXT COLORS=============================== */

  --tx-title: #1c1c1c;
  --tx-sub-title: #3d3d3d;
  --tx-placeholder: #8b8b8b;
  --tx-link: #7f00ff;

  --text-dark: #222222;
  --text-light: #666666;

  /* =========================GENERAL COLORS========================== */

  --white: #ffffff;
  --black: #000000;

  /*==========================BACKGROUND COLORS======================= */

  --bg-light: #f2f2f2;
  --bg-dark: #1a1a1a;
  --bg-input: #fafafa;
  --bg-card: #efefef;

   /* ===================================BUTTON COLORS============================== */

  --btn-primary: #7f00ff;
  --btn-primary-hover: #3a2fd6;
  --btn-ghost: #f1f1f1;

   /*=====================================FONTS====================================== */
  --font-main: "Poppins", sans-serif;
  --font-heading: "Poppins", sans-serif;
  --font-alt: "Inter", sans-serif;

   /*===================================== FONT SIZES================================ */

  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 20px;
  --fs-xl: 24px;
  --fs-xxl: 32px;

   /*===================================== FONT WEIGHTS ===============================*/

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

   /*======================================= SPACING SCALE============================== */
  
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 20px;
  --space-xl: 32px;
}
